/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*.boton{
   display: inline-block;
   width: 70px;
   height: 40px;
   background-color: orange;
   cursor: pointer;
   border-radius: 20px;
   line-height: 39px;
   text-align: center;
   padding-left: 9px;
   padding-right: 9px;
}
.boton:hover{
   background-color:green;
}
#splash{
   border: 1px solid black;
   width: 200px;
   height: 600px;
}*/

body {
    background-color: #FCFCFC;
    font-family: 'Athiti', sans-serif;
}

.botones {
    margin-top: 20px
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;
}

.flex button {
    padding: 5px 20px;
    margin: 15px 20px;
    border-radius: 31px;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.botones button {
    border: none;
    background: #56bb56;
    padding: 5px 20px;
    margin: 15px 20px;
    font-size: 26px;
    border-radius: 31px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

button:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 47px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 31px;
    transition: all 2s ease;
}

button:hover:before {
    width: 100%;
}

button:hover {
    color: #ffffff;
}

@media screen and (max-width: 884px) {
    button {
        font-size: 15px;
        margin: 5px 10px 0 10px !important;
        padding: 10px !important;
        font-size: 18px !important;
    }
}

@media (max-width: 576px) {
    .flex {
        flex-direction: column;
    }
}

.imagen-banner {
    padding: 5px;
}

.imagen-banner img {
    width: 100px;
    height: 100px;
}

.botonLogin {
    background-color: #001D5D !important;
    color: white;
}

.botonRegistro {
    background-color: #1CCEAE !important;
    color: white;
}

nav {
    background-color: #FCFCFC;
}

/*#contenido {
    padding: 2em;
}*/

.inicio {
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 29, 93, 0.7), rgba(0, 29, 93, 0.7)), url('../img/fondo_inicio.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 29, 93, 0.7), rgba(0, 29, 93, 0.7)), url('../img/fondo_inicio.jpg');
    background-image: -moz-linear-gradient(rgba(0, 29, 93, 0.7), rgba(0, 29, 93, 0.7)), url('../img/fondo_inicio.jpg');
    background-image: -o-linear-gradient(rgba(0, 29, 93, 0.7), rgba(0, 29, 93, 0.7)), url('../img/fondo_inicio.jpg');
    background-size: cover;
    color: white;
}

.inicio h1 {
    font-size: 79px;
    font-weight: bold;
    text-align: center;
}

.inicio p {
    font-size: 20px;
    color: white;
    padding: 80px;
}

.ocultar {
    display: none;
}