$rojo : #FF021;
$crema : #FCFCFC;
$azul-claro: #1CCEAE;
$azul: #001D5D;
$blanco: white;
$verde: #56bb56;

body {
    background-color: $crema;
    font-family: 'Indie Flower', cursive;
}

.botones {
    margin-top: 20px
    button {
	    border: none;
	    background: $verde;
	    padding: 5px 20px;
	    margin: 15px 20px;
	    font-size: 26px;
	    border-radius: 31px;
	    position: relative;
	    box-sizing: border-box;
	    transition: all 500ms ease;
	}
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;
    button {
	    padding: 5px 20px;
	    margin: 15px 20px;
	    border-radius: 31px;
	    box-sizing: border-box;
	    transition: all 500ms ease;
	}
}

button{
	&:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 47px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 31px;
    transition: all 2s ease;
	}

	&:hover:before {
    	width: 100%;
	}

	&:hover {
    	color : $blanco;
	}
}

imagen-banner{

    padding: 5px;
	
	img {
	    width: 100px;
	    height: 100px;
	}
}

.botonLogin {
    background-color: $azul !important;
    color: $blanco;
}

.botonRegistro {
    background-color: $azul-claro !important;
    color: $blanco;
}

nav {
    background-color: $crema;
}

#contenido {
    padding: 2em;
}


@media screen and (max-width: 884px) {
    button {
        font-size: 15px;
        margin: 5px 10px 0 10px !important;
        padding: 10px !important;
        font-size: 18px !important;
    }
}

@media (max-width: 576px) {
    .flex {
        flex-direction: column;
    }
}